/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-vinoshipper-injector-available-in {
	.vs-injector-block-editor-content {
		.vs-injector-block-title {
			font-weight: bold;
		}

		p {
			margin-bottom: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.vs-injector-block-available-in {
		border: 2px solid gray;
		margin: 0 0 12px 0;
		padding: 1rem;
		border-radius: 0.3rem;
	}
}
