/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-vinoshipper-injector-club-registration {

	.vs-injector-block-club-registration {
		border: 2px solid #808080;
		margin: 0 0 12px 0;
		padding: 1rem;
		border-radius: 0.3rem;
	}
}
